BasedOnHarmony/BasedOnHarmony/Connected Services/Servidor/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DistributeTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Algorithm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Optimal" type="xs:int" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Problem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result_Best" type="xs:double" />
      <xs:element minOccurs="0" name="Seed" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistributeTask" nillable="true" type="tns:DistributeTask" />
</xs:schema>